<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>😅😅😅</title>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
    }
    body{
        background-color: red;
    }
    .error_bg1001{
        width: 300px;
        height: 400px;
        margin: 50px auto;
    }
    img{
        width:80%;
    }
    h1{
        top: 20px;
        margin: 50px auto;
        text-align: center;
    }
</style>
<body>
    <h1>果咩纳塞~~{{ info }}~~😭😭</h1>
    <h1>果咩纳塞~~{{ info }}~~😭😭</h1>
    <h1>果咩纳塞~~{{ info }}~~😭😭</h1>
    <div class="error_bg1001">
        <img src="../static/img/error_index.jpg" alt="">
    </div>
</body>
</html>