<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>😅😅😅😅🎃🎃🎃🎃🎃🎃🎃</title>
</head>
<style>
    hr{
        height: 10px;
        background-color: #7e28e7;
    }
</style>
<body>
<div class="form_userInfoList">
    <form action="/userInfoList/" method="post">
        用户名:<input type="text" name="username_userInfoList">
        密&emsp;码:<input type="password" name="password_userInfoList">
        <button id="myAdd" type="submit">添加</button>
    </form>
</div>
<hr>
<div class="form_userInfoList_delete">
    <form action="/userInfoList_delete/" method="post">
        用户名:<input type="text" name="username_userInfoList_delete">
        密&emsp;码:<input type="password" name="password_userInfoList_delete">
        <button id="myDelete" type="submit">删除</button>
    </form>
</div>
<hr>
<div class="ul_userInfoList">
    <table border="2px">
        <tr>
            <th>用户名</th>
            <th>密&emsp;码</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
            </tr>
        {% endfor  %}
    </table>
</div>
</body>
</html>